.btn {
    @apply py-2 px-4 font-medium tracking-wide text-white capitalize transition-colors duration-200
transform rounded-md focus:outline-none cursor-pointer;
}

.btn-red {
    @apply bg-red-600 hover:bg-red-500;
}

.btn-blue {
    @apply bg-blue-600 hover:bg-blue-500;
}

.btn-green {
    @apply bg-green-600 hover:bg-green-500;
}

.btn-indigo {
    @apply bg-indigo-500 hover:bg-indigo-400;
}
