.form-control {
    @apply focus: ring focus:ring-blue-200 focus:ring-opacity-50 border border-gray-300 rounded-sm px-2 py-2 outline-none transition-colors duration-150 ease-in-out rounded-md shadow-sm;
}

h1 {
    @apply mb-4 text-3xl font-mont font-semibold;
}

h2 {
    @apply mb-4 text-2xl font-mont font-semibold;
}

p {
    @apply mb-3 leading-tight font-mont;
}
